Source: ros-noetic-flir-ptu-action-server
Section: misc
Priority: optional
Maintainer: Chris Iverach-Brereton <civerachb@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-actionlib, ros-noetic-catkin, ros-noetic-flir-ptu-driver, ros-noetic-ptz-action-server-msgs, ros-noetic-rospy, ros-noetic-sensor-msgs, ros-noetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-flir-ptu-action-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-actionlib, ros-noetic-flir-ptu-driver, ros-noetic-ptz-action-server-msgs, ros-noetic-rospy, ros-noetic-sensor-msgs, ros-noetic-std-msgs
Description: PTZ control services for the Flir D46 and E46 PTU devices
