Source: ros-noetic-simulated-ptz-action-server
Section: misc
Priority: optional
Maintainer: Chris Iverach-Brereton <civerachb@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-simulated-ptz-action-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-actionlib, ros-noetic-cv-bridge, ros-noetic-gazebo-plugins, ros-noetic-ptz-action-server-msgs, ros-noetic-rospy, ros-noetic-sensor-msgs, ros-noetic-std-msgs
Description: Controller node for a simulated PTZ camera
